# Check-out https://www.jetbrains.com/help/space/code-owners.html#codeowners-file-syntax
# This file is checked by org.jetbrains.kotlin.code.SpaceCodeOwnersTest
# Directive OWNER_LIST specifies possible values for owner field
# Directive UNKNOWN specifies that path is unclaimed
# Ownership must be exhaustive modulo UNKNOWN

# OWNER_LIST: "Kotlin Libraries"
# OWNER_LIST: "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
# OWNER_LIST: "Kotlin Compiler Core"
# OWNER_LIST: "Kotlin Build Infrastructure" "Kotlin Build Tools"
# OWNER_LIST: "Kotlin IDE"
# OWNER_LIST: "Kotlin Release"
# OWNER_LIST: Mikhail.Glukhikh

# Fallback rule, must always be top
* "Kotlin Build Infrastructure"

/.idea/ "Kotlin Build Infrastructure"

/.space/ "Kotlin Build Infrastructure"

/analysis/ "Kotlin IDE"

# UNKNOWN: /android-studio/

# UNKNOWN: /annotations/

/ant/ "Kotlin Build Tools"

/benchmarks/ "Kotlin Compiler Core"

/build-common/ "Kotlin Build Tools"

/buildSrc/ "Kotlin Build Infrastructure"

# Compiler
/compiler/android-tests/ "Kotlin JVM"
/compiler/backend/ "Kotlin JVM"
/compiler/backend.common.jvm/ "Kotlin JVM"
/compiler/backend-common/ "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/compiler/builtins-serializer/ "Kotlin Compiler Core"
/compiler/cli/ "Kotlin Compiler Core"
/compiler/compiler.version/ "Kotlin Compiler Core"
/compiler/compiler-runner/ "Kotlin Compiler Core"
/compiler/compiler-runner-unshaded/ "Kotlin Build Tools"
/compiler/config/ "Kotlin Compiler Core"
/compiler/config.jvm/ "Kotlin JVM"
/compiler/container/ "Kotlin Compiler Core"
/compiler/daemon/ "Kotlin Compiler Core"
/compiler/fir/ "Kotlin Compiler Core"
/compiler/frontend/ "Kotlin Compiler Core"
/compiler/frontend.common/ "Kotlin Compiler Core"
/compiler/frontend.common.jvm/ "Kotlin Compiler Core"
/compiler/frontend.common-psi/ "Kotlin Compiler Core"
/compiler/frontend.java/ "Kotlin Compiler Core"
/compiler/incremental-compilation-impl/ "Kotlin Build Tools"
/compiler/ir/backend.common/ "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/compiler/ir/backend.js/ "Kotlin JS"
/compiler/ir/backend.jvm/ "Kotlin JVM"
/compiler/ir/backend.wasm/ "Kotlin Wasm"
/compiler/ir/ir.interpreter/ "Kotlin JVM"
/compiler/ir/ir.ir2cfg/ Mikhail.Glukhikh
/compiler/ir/ir.psi2ir/ "Kotlin Compiler Core"
/compiler/ir/ir.tree/ "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
# UNKNOWN: /compiler/ir/ir.tree.impl/
/compiler/ir/serialization.common/ "Kotlin Compiler Core"
/compiler/ir/serialization.js/ "Kotlin JS"
/compiler/ir/serialization.jvm/ "Kotlin JVM"
/compiler/javac-wrapper/ "Kotlin Compiler Core"
/compiler/light-classes/ "Kotlin Compiler Core"
/compiler/plugin-api/ "Kotlin Compiler Core"
/compiler/preloader/ "Kotlin Compiler Core"
/compiler/psi/ "Kotlin Compiler Core"
/compiler/resolution/ "Kotlin Compiler Core"
/compiler/resolution.common/ "Kotlin Compiler Core"
/compiler/resolution.common.jvm/ "Kotlin Compiler Core"
/compiler/serialization/ "Kotlin Compiler Core"
/compiler/test-infrastructure/ "Kotlin Compiler Core"
/compiler/test-infrastructure-utils/ "Kotlin Compiler Core"
/compiler/testData/ "Kotlin Compiler Core" "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/compiler/tests/ "Kotlin Compiler Core" "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
# UNKNOWN: /compiler/tests-against-klib/
/compiler/tests-common/ "Kotlin Compiler Core" "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/compiler/tests-common-new/ "Kotlin Compiler Core"
/compiler/tests-compiler-utils/ "Kotlin Compiler Core"
/compiler/tests-different-jdk/ "Kotlin JVM"
/compiler/tests-for-compiler-generator/ "Kotlin Compiler Core" "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/compiler/tests-gen/ "Kotlin Compiler Core" "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/compiler/tests-java8/ "Kotlin JVM"
/compiler/tests-mutes/ "Kotlin Build Infrastructure"
/compiler/tests-spec/ "Kotlin Compiler Core"
/compiler/util/ "Kotlin Compiler Core"
/compiler/util-io/ "Kotlin Native"
/compiler/util-klib/ "Kotlin Native"
/compiler/util-klib-metadata/ "Kotlin Native"
/compiler/visualizer/ "Kotlin Compiler Core"

# Core
/core/builtins/ "Kotlin Compiler Core"
/core/compiler.common/ "Kotlin Compiler Core"
/core/compiler.common.jvm/ "Kotlin Compiler Core"
/core/descriptors/ "Kotlin Compiler Core"
/core/descriptors.jvm/ "Kotlin Compiler Core"
/core/descriptors.runtime/ "Kotlin Libraries"
/core/deserialization/ "Kotlin Compiler Core"
/core/deserialization.common/ "Kotlin Compiler Core"
/core/deserialization.common.jvm/ "Kotlin Compiler Core"
/core/metadata/ "Kotlin Compiler Core"
/core/metadata.jvm/ "Kotlin JVM"
/core/reflection.jvm/ "Kotlin Libraries"
/core/script.runtime/ "Kotlin Compiler Core"
/core/util.runtime/ "Kotlin Compiler Core"

/dependencies/ "Kotlin Build Infrastructure"

# UNKNOWN: /docs/

# Generators
/generators/analysis-api-generator/ "Kotlin IDE"
/generators/builtins/ "Kotlin Libraries"
/generators/evaluate/ "Kotlin Compiler Core"
/generators/ide-iml-to-gradle-generator/ "Kotlin Build Infrastructure"
/generators/interpreter/ "Kotlin JVM"
/generators/main/ "Kotlin Build Infrastructure"
/generators/nativeInteropRuntime/ "Kotlin Native"
/generators/protobuf/ "Kotlin Build Infrastructure"
# UNKNOWN: /generators/protobufCompare/
/generators/test-generator/ "Kotlin Compiler Core" "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/generators/tests/ "Kotlin Compiler Core" "Kotlin JVM" "Kotlin JS" "Kotlin Native" "Kotlin Wasm"
/generators/wasm/ "Kotlin Wasm"

/gradle/ "Kotlin Build Infrastructure"

# UNKNOWN: /idea/

/jps/ "Kotlin Build Tools"

/js/ "Kotlin JS"

/kotlin-js-store/ "Kotlin JS"

/kotlin-native/ "Kotlin Native"

# Libraries
/libraries/examples/annotation-processor-example/ "Kotlin Compiler Core"
/libraries/examples/browser-example/ "Kotlin JS"
/libraries/examples/browser-example-with-library/ "Kotlin JS"
/libraries/examples/js-example/ "Kotlin JS"
/libraries/examples/kotlin-gradle-subplugin-example/ "Kotlin Compiler Core"
/libraries/examples/kotlin-java-example/ "Kotlin JVM"
/libraries/examples/kotlin-js-library-example/ "Kotlin JS"
/libraries/examples/kotlin-jsr223-daemon-local-eval-example/ "Kotlin Compiler Core"
/libraries/examples/kotlin-jsr223-local-example/ "Kotlin Compiler Core"
/libraries/examples/scripting/ "Kotlin Compiler Core"
/libraries/kotlin.test/ "Kotlin Compiler Core"
/libraries/kotlinx-metadata/ Alexander.Udalov "Kotlin Libraries"
/libraries/lib/ "Kotlin Build Infrastructure"
/libraries/reflect/ "Kotlin Libraries"
/libraries/scripting/ "Kotlin Compiler Core"
/libraries/stdlib/ "Kotlin Libraries"

# Libraries. Tools
/libraries/tools/atomicfu/ "Kotlin Libraries"
/libraries/tools/binary-compatibility-validator/ "Kotlin Libraries"
/libraries/tools/dukat/ "Kotlin JS"
/libraries/tools/gradle/ "Kotlin Build Tools"
/libraries/tools/kotlin-allopen/ "Kotlin Build Tools"
/libraries/tools/kotlin-annotation-processing/ "Kotlin Build Tools"
/libraries/tools/kotlin-annotation-processing-maven/ "Kotlin Build Tools"
/libraries/tools/kotlin-annotations-jvm/ "Kotlin Libraries"
/libraries/tools/kotlin-assignment/ "Kotlin Build Tools"
/libraries/tools/kotlin-bom/ "Kotlin Build Infrastructure"
/libraries/tools/kotlin-dist-for-jps-meta/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-build-metrics/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-compiler-types/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-annotations/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-api/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-dsl-codegen/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-idea/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-idea-for-compatibility-tests/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-idea-proto/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-integration-tests/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-kpm-android/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-model/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-npm-versions-codegen/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-test-utils-embeddable/ "Kotlin Build Tools"
/libraries/tools/kotlin-gradle-statistics/ "Kotlin Build Tools"
/libraries/tools/kotlin-lombok/ "Kotlin Build Tools"
/libraries/tools/kotlin-main-kts/ "Kotlin Compiler Core"
/libraries/tools/kotlin-main-kts-test/ "Kotlin Compiler Core"
/libraries/tools/kotlin-maven-allopen/ "Kotlin Build Tools"
/libraries/tools/kotlin-maven-lombok/ "Kotlin Build Tools"
/libraries/tools/kotlin-maven-noarg/ "Kotlin Build Tools"
/libraries/tools/kotlin-maven-plugin/ "Kotlin Build Tools"
/libraries/tools/kotlin-maven-plugin-test/ "Kotlin Build Tools"
/libraries/tools/kotlin-maven-sam-with-receiver/ "Kotlin Build Tools"
/libraries/tools/kotlin-maven-serialization/ "Kotlin Build Tools"
/libraries/tools/kotlin-osgi-bundle/ "Kotlin Build Tools"
/libraries/tools/kotlin-noarg/ "Kotlin Build Tools"
/libraries/tools/kotlin-prepush-hook/ "Kotlin Build Infrastructure"
/libraries/tools/kotlin-project-model/ "Kotlin Build Tools"
/libraries/tools/kotlin-project-model-tests-generator/ "Kotlin Build Tools"
/libraries/tools/kotlin-sam-with-receiver/ "Kotlin Build Tools"
/libraries/tools/kotlin-script-util/ "Kotlin Compiler Core"
/libraries/tools/kotlin-serialization/ "Kotlin Build Tools"
/libraries/tools/kotlin-serialization-unshaded/ "Kotlin Build Tools"
/libraries/tools/kotlin-stdlib-docs/ "Kotlin Libraries"
/libraries/tools/kotlin-stdlib-gen/ "Kotlin Libraries"
/libraries/tools/kotlin-test-js-runner/ "Kotlin Libraries"
/libraries/tools/kotlin-tooling-core/ "Kotlin Build Tools"
/libraries/tools/kotlin-tooling-metadata/ "Kotlin Build Tools"
/libraries/tools/kotlinp/ "Kotlin JVM"
# UNKNOWN: /libraries/tools/maven-archetypes/
/libraries/tools/mutability-annotations-compat/ "Kotlin Libraries"
/libraries/tools/script-runtime/ "Kotlin Compiler Core"

# Libraries. Singular files
/libraries/maven-settings.xml "Kotlin Build Infrastructure"
/libraries/pom.xml "Kotlin Build Infrastructure"
/libraries/ReadMe.md "Kotlin Libraries"

/license/ "Kotlin Build Infrastructure"

/native/ "Kotlin Native"

# Plugins
/plugins/allopen/ "Kotlin Compiler Core"
/plugins/android-extensions/ "Kotlin Compiler Core"
/plugins/assign-plugin/ "Kotlin Compiler Core"
/plugins/atomicfu/ "Kotlin Libraries"
/plugins/fir-plugin-prototype/ "Kotlin Compiler Core"
/plugins/imports-dumper/ "Kotlin Compiler Core"
/plugins/jvm-abi-gen/ "Kotlin JVM"
/plugins/kapt3/ "Kotlin Compiler Core"
/plugins/kotlinx-serialization/ "Kotlin Libraries"
/plugins/lombok/ "Kotlin Compiler Core"
/plugins/noarg/ "Kotlin Compiler Core"
/plugins/parcelize/ "Kotlin Compiler Core"
/plugins/pill/ Yan.Zhulanow "Kotlin Build Infrastructure"
/plugins/sam-with-receiver/ "Kotlin Compiler Core"
/plugins/scripting/ "Kotlin Compiler Core"

/prepare/ "Kotlin Build Infrastructure"

/repo/ "Kotlin Build Infrastructure"

# UNKNOWN: /resources/

# UNKNOWN: /spec-docs/

/test-instrumenter/ "Kotlin Build Infrastructure"

/tests/ "Kotlin Build Infrastructure"

/third-party/ "Kotlin JVM"

/wasm/ "Kotlin Wasm"

# Singular files
/.bunch "Kotlin Build Infrastructure"
/.gitattributes "Kotlin Build Infrastructure"
/.space.kts "Kotlin Build Infrastructure"
/ChangeLog.md "Kotlin Release"
/CODE_OF_CONDUCT.md "Kotlin Build Infrastructure"
/dev-env-warmup.sh "Kotlin Build Infrastructure"
/ReadMe.md "Kotlin Build Infrastructure"
/SECURITY.md "Kotlin Build Infrastructure"

# Build files
**.gradle.kts "Kotlin Build Infrastructure"
**.gradle "Kotlin Build Infrastructure"
.gitignore "Kotlin Build Infrastructure"
gradlew "Kotlin Build Infrastructure"
gradlew.bat "Kotlin Build Infrastructure"

/gradle.properties "Kotlin Build Infrastructure"

/.space/CODEOWNERS "Kotlin Build Infrastructure"